body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #EEE
}
#wrapper {
  width: 750px;
  padding: 10px;
  margin: 50px auto;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888888;
  background-color: white;
}

.inner-wrapper {
  height: 230px;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  float: left;
}

.vertical {
  height: 200px;
  margin: 0 auto;
}

.limb-wrapper {
  float: left;
  width: 100px;
  text-align: center;
}

.horizontal {
  width: 200px;
  clear: both;
  margin: 0 auto;
}

#joystick {
      cursor: move;
}